table { border: solid thick; border-color: black;}
colgroup, tbody {border: solid medium;}
td {border:  solid thin; height: 1.5em; width: 1.5em;}
th {border:  solid thin; height: 1.5em; width: 1.5em;}

tr {border: solid thick; height: 1.5em; width: 1.5em;}
tfoot {border: solid thin; color: black; width: 3em;}
td:nth-child(2){
	color: red;
}
td:nth-child(4){
	color: blue;
}

th:nth-child(1) {
	font-style: italic; 
	font-weight: normal;
}
tr:nth-child(2n +2){
	background-color: #add8e6;
}
tr:nth-child(2n +3){
	
	background-color: #98fb98;
}

tfoot td:nth-child(2){
	color:black;
}
 dt:hover + dd{
	background-color:purple;
}

form{border: solid thin;}

.outer_content{margin-top: 20px; text-align: left; padding-top: 20px; padding-bottom: 20px; background-color: pink; width: 75%;}

.inner_content{margin-left: 12.5%; margin-right: 12.5%; text-align: center; background-color: blue; float:center;  color: white;}


img{float: left;}